@font-face {
  font-family: 'Beaufort';
  src: url('../assets/BeaufortForLoL-TTF/BeaufortforLOL-Regular.ttf')
    format('truetype');
  src: url('../assets/BeaufortForLoL-TTF/BeaufortforLOL-Bold.ttf')
    format('truetype');
}

html {
  /* background: #005c9e; */
  background: var(--LoL-background);
  font-family: 'Beaufort';
}

:root {
  --LoL-gold: #e8b5468d;
  --LoL-background: #010a13;
}
