main > button {
  width: 180px;
  height: 320px;
  padding: 5px;
  background-size: contain;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: end;
  transition: 0.3s ease;
  box-shadow: 0 1px 5px #e8b5468d;
  font-family: 'Beaufort';
}

main > button:hover {
  transform: scale(1.1);
  box-shadow: 0 3px 6px 2px #e8b5468d;
}

main > button:active {
  transform: scale(0.5);
}
