header {
  color: #c79b3c;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

header > img {
  width: 250px;
}

header > h1 {
  font-size: 2rem;
  font-weight: 700;
  padding: 5px;
}

header > h3 {
  font-size: 1.5rem;
}
